<a href="https://colab.research.google.com/github/Rgarlay/PWSkills_Assignments/blob/main/Assignment%20%3A%20Python%20-%20Data%20Structure/Jupyter_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



---
##Assignment : Python - Data Structure##

###1.Write a code to create a string with your name and print it. ###

In [1]:
a = 'Ravi Garlay'
print(a)

Ravi Garlay

###2.Write a code to find the length of the string "Hello World"###

In [2]:
len('Hello World')

11

###3. Write a code to slice the first 3 characters from the string "Python Programming"###

In [9]:
a = 'Python Programming'
a[0:3]

'Pyt'

###4.Write a code to convert the string "hello" to uppercase.###

In [18]:
a = 'hello'
a.upper()

'HELLO'

###5.Write a code to replace the word "apple" with "orange" in the string "I like apple" ###

In [22]:
a = 'i like apple'
a = a.replace('apple', 'orange')
a

'i like orange'

###6.Write a code to create a list with numbers 1 to 5 and print it###

In [24]:
a = [i for i in range(1,6)]
a

[1, 2, 3, 4, 5]

###7.Write a code to append the number 10 to the list [1, 2, 3, 4]###

In [25]:
a = [i for i in range(1,5)]
a.append(10)
a

[1, 2, 3, 4, 10]

###8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].###

In [27]:
a = [i for i in range(1,6)]
a.remove(3)
a

[1, 2, 4, 5]

###9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].###

In [28]:
a = ['a','b','c','d']
a[1]

'b'

###10.Write a code to reverse the list [10, 20, 30, 40, 50].###

In [40]:
a = [i for i in range(10,60,10)]
b = []
for i in a[::-1]:
  b.append(i)
print(b)

[50, 40, 30, 20, 10]

###11. Write a code to create a tuple with the elements 10, 20, 30 and print it.###

In [46]:
a = (10,20,30)
print(a)

(10, 20, 30)

###12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').###

In [47]:
a = ('apple','banana','cherry')
a[0]

'apple'

###13.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)###

In [58]:
a = (1,2,3,2,4,2)
a.count(2)

3

###15. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').###

In [61]:
a = ('cat','dog','rabbit')
a.index('cat')

0

###15.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').###

In [67]:
a = ('apple','orange','banana')
'banana' in a

True

###16.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.###

In [68]:
a = (1,2,3,4,5)
print(a)

<generator object <genexpr> at 0x7f9e9ba0c380>