<a href="https://colab.research.google.com/github/Rgarlay/PWSkills_Assignments/blob/main/Assignment%20%3A%20Data%20Structure%20Advance/Data_Structure_Advance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment : Data Structure Advance#

###1. Write a code to reverse a string.###

In [ ]:
a = 'ravi'
for i in range(len(a)-1,-1,-1):
  b = a[i]
  print(a[i],end="")

ivar

###2.Write a code to count the number of vowels in a string.###

In [ ]:
a1 = 'Write a code to count the number of vowels in a string'
def no_of_vowels(text):
  vowels = ('a','e','i','o','u')
  b = 0
  for i in range(0,len(a1)-1):
    if text[i] in vowels:
      b = b+1
    else:
      continue
  return print(b)

a = no_of_vowels(a1)

17

###3. Write a code to check if a given string is a palindrome or not.###

In [ ]:
def is_palidrome(text):
    text_reversed = text[::-1]
    for i, j in zip(range(0, len(text)), range(0, len(text_reversed))):
        if text[i]!=text_reversed[j]:
           print('It is not palindrome')
           break
    else:
        print('It is palindrome')

is_palidrome('hannah')

It is palindrome

###4.Write a code to check if two given strings are anagrams of each other. ###

In [ ]:
def is_anagram(text1,text2):
  if sorted(text1) == sorted(text1):
    print('They are anagrams')
  else:
    print('They are not anagrams')

is_anagram('rare','aarare')

They are anagrams

###5. Write a code to find all occurrences of a given substring within another string.###

In [ ]:
def is_substring(main_string,substring):
  result = True if all(substring[i] in main_string for i in range(0,len(substring)-1)) else False
  return result

res = is_substring('rare','aarare')
print(res)

True

###6. Write a code to perform basic string compression using the counts of repeated characters.###

In [ ]:
#STEP 1: Define a random string with repeated words
a1 = 'aabccfccbbgbccddd'

#STEP2:- seperate and sort all the characters from string
a2 = []
for i in range(len(a1)):
  a2.append(a1[i])
a2.sort()
print(a2)

#Count number of times they duplicate and save them in a dictionary
#with keys being characters and values being number of repetitions.
b=1
c = {}

for j in range(1,len(a2)):
  if a2[j]== a2[j-1]:
    b=b+1
  else:
    c[a2[j-1]] = b
    print(f'{a2[j-1]} appears {b} times')
    b=1
##To include values that appear only once
c[a2[-1]] = b
print(f'{a2[-1]} appears {b} times')
c
##Joining them in {char}{count} format.
compressed_string = ''.join(f'{char}{count}' for char, count in c.items())
compressed_string

['a', 'a', 'b', 'b', 'b', 'b', 'c', 'c', 'c', 'c', 'c', 'c', 'd', 'd', 'd', 'f', 'g']
a appears 2 times
b appears 4 times
c appears 6 times
d appears 3 times
f appears 1 times
g appears 1 times

'a2b4c6d3f1g1'

###7. Write a code to determine if a string has all unique characters.###

In [ ]:
a = 'Rythem'
list_1 = []
for i in range(len(a)):
  list_1.append(a[i])
list_1.sort()
print(list_1)

is_unique = True
for j in range(len(list_1)):
  if list_1[j] == list_1[j-1]:
    is_unique = False
    break

if is_unique:
  print('All characters are unique')
else:
  print('Not all characters are unique')

['R', 'e', 'h', 'm', 't', 'y']
All characters are unique

###8. Write a code to convert a given string to uppercase or lowercase.###

In [ ]:
class upper_or_lower:
  def __init__(self,text):
    self.text = text
  def upper(self):
    upper_text = self.text.upper()
    return upper_text
  def lower(self):
    lower_text = self.text.lower()
    return lower_text

a = 'Write a code to convert a given string to uppercase or lowercase.'
b = upper_or_lower(a)
print(b.upper())
print(b.lower())

WRITE A CODE TO CONVERT A GIVEN STRING TO UPPERCASE OR LOWERCASE.
write a code to convert a given string to uppercase or lowercase.

###9. Write a code to count the number of words in a string.###

In [ ]:
a = 'Write a code to count the number of words in a string.'
words_1 = list(a.split())
len(words_1)

12

###10.Write a code to concatenate two strings without using the + operator.###

In [ ]:
a = 'Ravi '
b = 'Garlay'
c= ''.join([a,b])
c

'Ravi Garlay'

###11. Write a code to remove all occurrences of a specific element from a list.###

In [ ]:
a1 = ['a', 'b', ',', 'd', ',']

def list_without_element(a,remove_word):
  b=[]
  for i in range(len(a)):
    if remove_word != a[i]:
      b.append(a[i])
  return b

a_2 = list_without_element(a = a1,remove_word = ',')
a_2

['a', 'b', 'd']

###12.Implement a code to find the second largest number in a given list of integers.###

In [ ]:
a = [1,5,8,65,25,100]
a1 = [a[i] for i in range(len(a)) if a[i] != max(a)]
max(a1)

65

##13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.##

In [ ]:
def count_occurrences(lst):
    counts = {}
    for element in lst:
        if element in counts:
            counts[element] += 1
        else:
            counts[element] = 1
    return counts
a = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
print(count_occurrences(a))

{'apple': 3, 'banana': 2, 'orange': 1}

###14.Write a code to reverse a list in-place without using any built-in reverse functions.###

In [ ]:
a = [1,5,8,65,25,100]
b = []
for i in range(len(a)-1,-1,-1):
  b.append(a[i])
print(b)

[100, 25, 65, 8, 5, 1]

###15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.###

In [143]:
a = [4, 3, 5, 6, 4, 3, 8, 9, 10, 5, 7, 8, 11]

seen = set()
result = []

for i in a:
    if i not in seen:
        result.append(i)
        seen.add(i)

print(result)

[4, 3, 5, 6, 8, 9, 10, 7, 11]

###16.Create a code to check if a given list is sorted (either in ascending or descending order) or not.###

In [156]:
a_1 = [1,5,8,65,100]
a_2 = [4, 3, 5, 6, 4, 3, 8, 9, 10, 5, 7, 8, 11]

class ListSorter:
    def __init__(self, list_here):
        self.list_here = list_here


    def check_ascending(self):
        is_sorted = True
        for i in range(1, len(self.list_here)):  # start from index 1 to avoid index error
            if self.list_here[i] <= self.list_here[i-1]:
                is_sorted = False
                break

        if is_sorted:
            print('list is in ascending order')
        else:
            print('list is not sorted')

    def check_descending(self):
        is_descending = True
        for j in range(1, len(self.list_here)):  # start from index 1 to avoid index error
            if self.list_here[j] >= self.list_here[j-1]:
                is_descending = False
                break

        if is_descending:
            print('list is in descending order')
        else:
            print('list is not sorted')


abc = ListSorter(a_1)
print(abc.check_ascending())

list is in ascending order
None

###17.  Write a code to merge two sorted lists into a single sorted list.###

In [180]:
a_1 = [1, 5, 8, 65, 100]
a_2 = [3, 3, 4, 4, 5, 5, 6, 7, 8, 8, 9, 10, 11]

merged_list = a_1 + a_2

merged_list.sort()

print(merged_list)

[1, 3, 3, 4, 4, 5, 5, 5, 6, 7, 8, 8, 8, 9, 10, 11, 65, 100]

###18. Implement a code to find the intersection of two given lists.###

In [182]:
a = [1, 2, 3, 4, 5]
b = [4, 5, 6, 7, 8]
intersection = list(set(a) & set(b))
print(intersection)

[4, 5]

###19. Create a code to find the union of two lists without duplicates.###

In [185]:
a = [1, 2,2 ,5 , 3, 4, 5]
b = [4, 5, 6,6 ,9 , 7, 8]

union = list(set(a) | set(b))

print(union)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

###20. Write a code to shuffle a given list randomly without using any built-in shuffle functions.

### 21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [191]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)

tuple3 = tuple(set(tuple1) & set(tuple2))

print(tuple3)

(4, 5)

###22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

In [194]:
set1 = set(input("Enter the first set of integers (comma-separated): ").split(','))
set2 = set(input("Enter the second set of integers (comma-separated): ").split(','))

set1 = {int(i) for i in set1}
set2 = {int(i) for i in set2}
intersection = set1 & set2

print("The intersection of the two sets is:", intersection)

Enter the first set of integers (comma-separated): 1,2,4,5,6
Enter the second set of integers (comma-separated): 1,4,6
The intersection of the two sets is: {1, 4, 6}

###23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [196]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)

tuple3 = tuple(list(tuple1) + list(tuple2))
tuple3

(1, 2, 3, 4, 5, 4, 5, 6, 7, 8)

### 24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

In [197]:
string1 = str(input('Enter first string:'))
string2 = str(input('Enter second string:'))

print(string1)

Enter first string:I am Ravi
Enter second string:I am Masters passout
I am Ravi

### 25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [198]:
tuple_input = tuple(input("Enter the tuple elements (comma-separated): ").split(','))
start_index = int(input("Enter the starting index: "))
end_index = int(input("Enter the ending index: "))


new_tuple = tuple_input[start_index:end_index+1]

print("The new tuple is:", new_tuple)

Enter the tuple elements (comma-separated): 1,2,4,5,6,7,8,9
Enter the starting index: 1
Enter the ending index: 5
The new tuple is: ('2', '4', '5', '6', '7')

###26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [199]:
set1 = set(input("Enter the first set of characters: "))
set2 = set(input("Enter the second set of characters: "))

union = set1 | set2
print("The union of the two sets is:", union)

Enter the first set of characters: abc
Enter the second set of characters: bdf
The union of the two sets is: {'f', 'c', 'a', 'b', 'd'}

### 27. & Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

In [200]:
tuple_input = tuple(map(int, input("Enter a tuple of integers (comma-separated): ").split(',')))

max_val, min_val = max(tuple_input), min(tuple_input)

print("The maximum value is:", max_val)
print("The minimum value is:", min_val)

Enter a tuple of integers (comma-separated): 1,2,4,5,7
The maximum value is: 7
The minimum value is: 1

###28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

In [201]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

union = a | b

intersection = a & b

difference = a - b

print("Union of the two sets:", union)
print("Intersection of the two sets:", intersection)
print("Difference of the two sets (set1 - set2):", difference)

Union of the two sets: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of the two sets: {4, 5}
Difference of the two sets (set1 - set2): {1, 2, 3}

###29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

In [202]:

tuple_input = tuple(input("Enter a tuple of elements (comma-separated): ").split(','))
element = input("Enter the element to count occurrences of: ")

count = tuple_input.count(element)

print(f"The element '{element}' appears {count} time(s) in the tuple.")

Enter a tuple of elements (comma-separated): 1,2,3,4,5,6,2
Enter the element to count occurrences of: 2
The element '2' appears 2 time(s) in the tuple.

###30. & Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

In [203]:
set1 = set(input("Enter the first set of strings (comma-separated): ").split(','))
set2 = set(input("Enter the second set of strings (comma-separated): ").split(','))

symmetric_difference = set1 ^ set2

print("The symmetric difference of the two sets is:", symmetric_difference)

Enter the first set of strings (comma-separated): 1,2,3,5
Enter the second set of strings (comma-separated): 3,4,5,6
The symmetric difference of the two sets is: {'2', '6', '1', '4'}

###31.Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [206]:
words = input("Enter a list of words (separated by spaces): ").split()

word_count = {}

for word in words:
    word_count[word] = word_count.get(word, 0) + 1

print("Word frequencies:", word_count)

Enter a list of words (separated by spaces): 1 2 3 2 1 3 4
Word frequencies: {'1': 2, '2': 2, '3': 2, '4': 1}

###32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

In [219]:
list_1 = list(input('Enter the keys(seperated by comma):').split(','))
list_2 = list(input('Enter the values(seperated by comma):').split(','))

list_1.sort()
list_2.sort()

dict_1 = {}
for i in range(len(list_1)):
  if list_1[i] in dict_1:
    dict_1[list_1[i]] += ','+list_2[i]
  else:
    dict_1[list_1[i]] = list_2[i]
print(dict_1)

Enter the keys(seperated by comma):apple,banana,cherry,banana
Enter the values(seperated by comma):1,2,3,2,1
{'apple': '1', 'banana': '1,2', 'cherry': '2'}

###33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

###34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order

In [264]:
list_1 = list(input('Enter the keys(seperated by comma):').split(','))
list_2 = list(input('Enter the values(seperated by comma):').split(','))


dict_1 = {list_1[i]:list_2[j] for i,j in zip(range(len(list_1)), range(len(list_2)))}

items = list(dict_1.items())

for i in range(len(items)):
    for j in range(len(items) - i - 1):
        if items[j][1] > items[j + 1][1]:
            items[j], items[j + 1] = items[j + 1], items[j]

sorted_dict = {}
for key, value in items:
    sorted_dict[key] = value

print(sorted_dict)

Enter the keys(seperated by comma):ap,ba,ch
Enter the values(seperated by comma):2,3,1
{'ch': '1', 'ap': '2', 'ba': '3'}

###35.Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [267]:
dict_2 = {'a': 1, 'b': 2, 'c': 1, 'd': 3}

inverted_dict = {}

for key, value in dict_2.items():
    if value not in inverted_dict:
        inverted_dict[value] = [key]
    else:
        inverted_dict[value].append(key)

print(inverted_dict)

{1: ['a', 'c'], 2: ['b'], 3: ['d']}